{% extends 'base.html.twig' %}


{% block title %}Connexion{% endblock %}

{% block body %}
<h1>Se connecter</h1>
    {% if error %}
        <div class="alert alert-danger">
            {{ error.messageKey| trans(error.messageData, 'security') }}
        </div>
    {% endif %}
    
    <form action="{{ path('security_login') }}" method="post">
        <input type='text' placehoder="username" name="_username" value="{{ lastUserName }}" required>
        <input type='password' placehoder="password" name="_password" required>

        <input type="submit" value="Se connecter">
    </form>
{% endblock %}