{% extends 'base.html.twig' %}

{% block title %}Hello SecurityController!{% endblock %}

{% block body %}

    {{ form_start(form) }}
        {{ form_row(form.username, 
            {
                'label':'Nom d\'utilisateur', 
                'attr': {
                    'placeholder':'Nom d\'utilisateur'
                }
            }) 
        }}
        {{ form_row(form.email, 
            {
                'label':'email', 
                'attr': {
                    'placeholder':'email'
                }
            }) 
        }}
        {{ form_row(form.password, 
            {
                'label':'password', 
                'attr': {
                    'placeholder':'password'
                }
            }) 
        }}
        {{ form_row(form.confirm_password, 
            {
                'label':'Confirmez le password', 
                'attr': {
                    'placeholder':'Confirmez le password'
                }
            }) 
        }}

        <input class="btn btn-primary" type="submit" value="s'inscrire">
    {{ form_end(form) }}
{% endblock %}
