{% extends 'base.html.twig' %}

{% block title %}
	Liste des articles
{% endblock %}

{% block body %}

	<section class="articles">
		
		{% for article in articles %}
			<article>
				{# ici je demande à twig de faire une interpolation la propriété name de la variable de type Article #}
				<h2>{{article.title}}</h2>
				{# 
				     les interpolations ne peuvent afficher que des variables primitives, la date est un objet complexe,
				     on doit la formater   on va utiliser une filtre twig pour formater l'affichage
				   #}
				<div class="metadata">Ecrit le
					{{article.createdAt|date('d/m/Y')}}
					à
					{{article.createdAt|date('H:i')}}
					dans la catégorie {{ article.category }}</div>
				<div class="content">
					<img
					src="{{article.image}}" alt="">
					{#   ici on met un filtre raw car il du html dans la variable   #}
					<p>{{article.content|raw}}</p>
					<a href="{{ path('blog_show',{'id':article.id}) }}" class="btn btn-primary">lire la suite</a>
				</div>
			</article>
		{% endfor %}

	</section>

{% endblock %}
