{% extends 'base.html.twig' %}
{% block body %}

	<article>
		<h2>{{ article.title }}</h2>
		<div class="metadata">
			Ecrit le
			{{article.createdAt|date('d/m/Y')}}
			à
			{{ article.createdAt|date('H:i')}}
			dans la catégorie
			{{ article.category }}
		</div>
		<div class="content">
			<img src="{{ article.image }}" alt="">
			<hr>
			{{ article.content|raw }}
		</div>
		<h3>Commentaires</h3>
		{{ form_start(formComment)}}
			{{ form_row(formComment.author, {'attr': {'placeholder': "Votre Pseudo", 'class': "form-control"} }) }}
			{{ form_row(formComment.content, {'attr': {'placeholder': "Votre commentaire...", 'class': "form-control", 'name': 'editor1'} }) }}

			<button type="submit" class='btn btn-primary'>Ajouter votre commentaire</button>

		{{ form_end(formComment) }}
		<section>
			{% if article.comments %}
				{% for comment in article.comments %}

					<div class="comment">
						<h4>{{ comment.author }}
							le
							{{ comment.createdAt|date('d/m/Y') }}
							à
							{{ comment.createdAt|date('H:i')}}</h4>
						<p>{{ comment.content|raw }}</p>
					</div>
				{% endfor %}
			{% else %}
				<p>Pas de commentaire encore</p>
			{% endif %}

		</section>
	</article>
	<script src="//cdn.ckeditor.com/4.14.0/standard/ckeditor.js"></script>
	<script>
		CKEDITOR.replace( 'comment[content]' );
	</script>
{% endblock %}
